## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
-R
-Python
-SQL

Some of the commonly used libraries used by Data Scientists include:
-Matplotib
-Numpy
-Scikit-learn
-Keras
-Tensorflow
-Pandas
-Seaborn

Data Science Tools:
---------------------
Apache spark
---------------------
Apache hadoop
-------------------
Tensorflow

In [ ]:
###Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
time_in_m=200
time_in_h=time_in_m/60
print(time_in_h)

3.3333333333333335

___Objectives:___
-Analyising large amounts of data
-Predicting future outcomes based on past data
-making insightful decisions through deep analysis of data

##Author
Salah-eddine AROS